<style>
  .swiper-container{{module}} {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery-thumbs{{module}} {
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    top: -30px;
  }
  .gallery-thumbs{{module}} .swiper-slide {
    border: 1px solid #e3e3e3;
    display: flex;
    padding: 5px;
    align-items: center;
    width: 225px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(122,122,122,0.2);
  }
  .gallery-thumbs .swiper-slide .img-container {
    height: 60px;
  }
  .gallery-thumbs .swiper-slide img {
    width: 75px;
    height: 100%;
  }
  .gallery-thumbs .swiper-slide span {
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;
  }
  .box-shadow-none {
    box-shadow: none;
  }
  .slide-bg-img{{module}} {
    display: block; 
    max-width: 100%;
    height: auto;
    {# background-size: cover !important; background-position: center !important; position: relative; height: 100%; padding: {{ padding_top }}px {{ padding_left }}px; #}
  }
  .slide-inner-content{{module}} {
    max-width: 100%;
    height: calc(100% - {{ padding_top }}px - {{ padding_top }}px);
    text-align: left;
    color: white;
    overflow: hidden;
    position: absolute;
    top: {{ padding_top }}px;
    left: {{ padding_left }}px;
  }
  .slide-name {
    font-size: 30px; 
    line-height: 100%;
    font-weight: bolder;
  }
  .slide-text {
    font-size: 16px; 
    line-height: 7px;
    margin-bottom: 10px;
  }
  .slide-link-button {
    background-color: red; 
    padding: 10px 30px; 
    font-size: 13px; 
    width: fit-content;
    display: block;
  }
  .slide-link-button__text {
    text-transform: uppercase; 
    color: white;
  }
  .fit-content {
    width: fit-content !important;
  }
  .thumbs-slides-center {
    display: flex;
    justify-content: center;
  }
  .figure-img {
    height: 75px;
    margin: 0; 
  }
  .figure-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
  @media screen and (max-width: 992px) {
    .gallery-thumbs {
      display: none;
    }
  }
</style>
<div class="swiper-viewport box-shadow-none">
  <div id="slidernik{{ module }}" class="swiper-container swiper-container{{module}}">
    <div class="swiper-wrapper"> 
      {% for slide in slides %}
        <div class="swiper-slide text-center" data-index="{{ slide.index }}">
            {# <div style="background: no-repeat url('{{ slide.image }}');" class="slide-bg-img{{module}}"> #}
              <img src="{{ slide.image }}" class="slide-bg-img{{module}}" alt="">
              <div class="slide-inner-content{{module}}">
                <p class="slide-name">{{ slide.name }}</p>
                <div class="slide-text">{{ slide.text }}</div>
                {% if slide.link %}
                  <a href="{{ slide.link }}" target="_blank" class="slide-link-button">
                    <span class="slide-link-button__text">Shop now</span>
                  </a>
                {% endif %}
              </div>
        </div>
      {% endfor %} 
    </div>
  </div>
  {% if (display_control == 'arrows' or display_control == 'arrows-thumbs') %}
    <div class="swiper-pager">
      <div class="swiper-button-next swiper-button-next{{ module }}"></div>
      <div class="swiper-button-prev swiper-button-prev{{ module }}"></div>
    </div>
  {% endif %}
  {% if (display_control == 'thumbs' or display_control == 'arrows-thumbs') %}
  <div class="swiper-container gallery-thumbs gallery-thumbs{{ module }}">
      <div class="swiper-wrapper fit-content">
          {% for slide in slides %}
              <div class="swiper-slide" data-index="{{ slide.index + 1 }}" class="fit-content">
                <figure class="figure-img">
                  <img src="/image/{{slide.thumb}}" alt="Рыжая кошка">
                </figure>
                <span>{{ slide.name }}</span>
              </div>
          {% endfor %}
      </div>
  </div>
  {% endif %}
</div>

<script type="text/javascript"><!--
  {% if (display_control == 'thumbs' or display_control == 'arrows-thumbs') %}
    let galleryThumbs{{ module }} = new Swiper('.gallery-thumbs{{ module }}', {
        spaceBetween: 10,
        slidesPerView: 'auto',
        slideToClickedSlide: true,
        freeMode: true, 
        breakpoints: {
            // when window width is >= 640px
            640: {
                loop: true,
            }
        }
    });

    $('.gallery-thumbs{{ module }} .swiper-slide').on('click', function () {
        mainSwiper{{ module }}.slideTo($(this).data('index'))
    })
  {% endif %}

let mainSwiper{{ module }} = new Swiper('#slidernik{{ module }}', {
    slidesPerView: 1,
    {% if (display_control == 'arrows' or display_control == 'arrows-thumbs') %}
    nextButton: '.swiper-button-next{{ module }}',
    prevButton: '.swiper-button-prev{{ module }}',
    {% endif %}
    {% if autoplay %}
    autoplay: parseInt('{{speed}}') * 1000,
    {% endif %}
    autoplayDisableOnInteraction: true,
    loop: true,
    effect: '{{ effect }}'.toLowerCase(),
    {% if (display_control == 'thumbs' or display_control == 'arrows-thumbs') %}
    thumbs: {
        swiper: galleryThumbs{{ module }}
    },
    {% endif %}
});

--></script>